In [ ]:
# Turn dataframe into database

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
con = sqlite3.connect("employees_df")
cur = con.cursor()

In [ ]:
employees = pd.read_csv("Resources/Employee.csv")
employees['EmployeeIndex'] = employees.index
employees

In [ ]:
predicated_df = employees[['EmployeeIndex', 'LeaveOrNot']]

In [ ]:
cur.execute('CREATE TABLE IF NOT EXISTS Predicated (EmployeeIndex INTEGER, LeaveOrNot INTEGER)')
con.commit()

In [ ]:
predicated_df.to_sql('Predicated', con, if_exists='replace', index = False)

In [ ]:
cur.execute('''  
SELECT * FROM Predicated
          ''')

In [ ]:
features_df = employees[['EmployeeIndex', 'Education', 'JoiningYear', 'City', 'PaymentTier', 'Age', 'Gender', 'EverBenched', 'ExperienceInCurrentDomain']]

In [ ]:
cur.execute('CREATE TABLE IF NOT EXISTS Features (EmployeeIndex INTEGER, Education TEXT, JoiningYear TEXT, City TEXT, PaymentTier INTEGER, Age INTEGER, Gender TEXT, EverBenched TEXT, ExperienceInCurrentDomain INTEGER)')
con.commit()

In [ ]:
features_df.to_sql('Features', con, if_exists='replace', index = False)

In [ ]:
cur.execute('''  
SELECT * FROM Features
          ''')

In [ ]:
# To turn database into dataframe

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
con = sqlite3.connect('employees_df')
cur = con.cursor()

In [ ]:
join = '''SELECT Education, JoiningYear, City, PaymentTier, Age, Gender, EverBenched, ExperienceInCurrentDomain
FROM Features
INNER JOIN Predicated
ON Features.EmployeeIndex = Predicated.EmployeeIndex;'''

In [ ]:
cur.execute('''CREATE TABLE EMPLOYEES as
SELECT * from FEATURES
JOIN Predicated
ON Features.EmployeeIndex = Predicated.EmployeeIndex; ''')
con.commit()

In [ ]:
df = pd.read_sql_query("SELECT * FROM Employees", con)
df = df.drop(columns=['EmployeeIndex'])
df